    {% load geoanalytics_tags %}

    {% with cm=page.get_content_model %}
    {% if not cm.public %}
    <hr>
    <div class="row" id='page-permissions'>
        <h2>Permissions for this page</h2>

        <div class="alert alert-success">
        {% ga_editable cm.public %}
            {% if cm.public %}
                Publicly viewable
            {% else %}
                Only viewable by members
            {% endif %}
        {% endga_editable %}
        </div>

        <div class="col-md-6">
            {% ga_editable cm.view_groups %}
            <div class="panel panel-info">
                <div class="panel-heading">Groups that can view</div>
                <div class="list-group">
                    {% for group in cm.view_groups.all %}
                        <div class="list-group-item">{{ group.name }}</div>
                    {% endfor %}
                </div>
            </div>
            {% endga_editable %}

            {% ga_editable cm.view_users %}
            <div class="panel panel-info">
                <div class="panel-heading">Users who can view</div>
                <div class="list-group">
                        {% for e in cm.view_users.all %}
                            <div class="list-group-item">{{ e.email }}</div>
                        {% endfor %}

                </div>
            </div>
            {% endga_editable %}
        </div>
        <div class="col-md-6">
            {% ga_editable cm.edit_groups %}
            <div class="panel panel-warning">
                <div class="panel-heading">Groups that can edit</div>
                <div class="list-group">
                    {% for e in cm.edit_groups.all %}
                        <div class="list-group-item">{{ e.email }}</div>
                    {% endfor %}

                </div>
            </div>
            {% endga_editable %}

            {% ga_editable cm.edit_users %}
            <div class="panel panel-warning">
                <div class="panel-heading">Users who can edit</div>
                    <div class="list-group">
                        {% for e in cm.edit_users.all %}
                            <div class="list-group-item">{{ e.email }}</div>
                        {% endfor %}
                    </div>

            </div>
            {% endga_editable %}
        </div>
    </div>

    <script type="text/javascript" src='{{ STATIC_URL }}js/jqcsrf.js'></script>
    {% endif %}
    {% endwith %}